h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    text-decoration-line: underline;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100px;
    color: #fff;
    cursor: pointer;
    background: rgb(17, 107, 143);
    margin-inline-start: 20px;

}
input{
    width: 200px;
    outline: none;
    border: 1px solid #fff;
    /* padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px; */
    background: #e4e4e4e4;
    padding: 8px;
    border-radius: 4px;
}
body{
    background-color: rgba(146, 179, 194, 0.945);
    color: black;
    text-align: center;
    
}
ul{
    list-style: decimal-leading-zero;
}
.parent{
    background-color: rgb(151, 74, 113);
    height: 750px;
    width: 350px;
    position: relative;
    left: 500px;
    top: 30px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 1);
}
